/* Reset y base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to top right, #868cf9, #2128bd);
    min-height: 100vh;
    padding: 1rem;
    color: white;
}

